.file {
  width: 150px;
  height: auto;
  margin-top: 10px;

  display: flex;
  align-items: center;
  gap: 10px;

  &__icon {
    display: flex;
    align-items: center;
    gap: 5px;

    width: max-content;
    height: max-content;

    svg {
      width: 25px;
      height: inherit;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
      text-align: center;
    }
  }

  &__openButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15px;

    background-color: transparent;
    border: none;

    transition: background-color .3s ease, transform .2s ease-in-out;

    svg {
      height: 20px;
      width: inherit;

      transform: rotate(180deg);
      transition: transform .3s ease;

      path {
        fill: rgb(76, 75, 75);
        transition: fill .3s ease;
      }
    }

    &:hover:enabled {
      svg {
        path {
          fill: black;
        }
      }
  
    }

    &:active:enabled {
      transform: scale(.9);
    }

    &:disabled {
      svg {
        path {
          fill: rgb(72, 71, 71);
        }
      }
    }

    &_active {
      svg {
        transform: rotate(0);
      }
    }
  }

  &__activeBranch {
    svg {
      path {
        fill: greenyellow;
      }
    }
  }

  &__buttonMock {
    width: 15px;
  }
}

.nestedFiles {
  margin-left: 25px;
}