.folderButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15px;

  background-color: transparent;
  border: none;

  transition: background-color .3s ease, transform .2s ease-in-out;

  svg {
    height: 20px;
    width: inherit;

    transform: rotate(-180deg);
    transition: transform .3s ease;

    path {
      fill: rgb(76, 75, 75);
      transition: fill .3s ease;
    }
  }

  &:hover {
    svg {
      path {
        fill: black;
      }
    }
  }

  &:active {
    transform: scale(.9);
  }

  &_active {
    svg {
      transform: rotate(0);
    }
  }
}